<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astaroth.listacompra" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carrito"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".layouts.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layouts.ListaActual"
            android:label="@string/title_activity_lista_actual"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".layouts.Listas"
            android:label="@string/title_activity_listas"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".layouts.DispositivosBluetooth"
            android:label="@string/title_activity_dispositivos_bluetooth"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
